*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.kotlin
*.class
*.apk
*.ap_
*.aab
bin/
gen/
out/
build/
release/
generated/
.classpath
.project\
_sandbox
captures/
google-services.json